## introduction 
# to Python


---
previously we looked at some cool libs. now we are going to check out some subsetting techniques in pandas

subsetting in pandas


## * label name
* you can subset a dataframe using the column name,like so â†“

In [22]:
import pandas as pd             #huh, guess we just gotta keep doing this then 

df = pd.DataFrame({'column_1': [0, 1, 2, 3, 4, 5, 6, 7, 8, 9], 
                   'column_2': [0, 2, 4, 6, 8, 10, 12, 14, 16, 18]}) #just creating a dataframe by hand, you know, live cavepeople did

a_series = df['column_1'] #like this returns a series
print("the onebracketter:") 
print(type(a_series), a_dataframe.shape)

print("the twobracketter:")
a_dataframe = df[['column_1']] #like this returns a dataframe
print(type(a_dataframe), a_dataframe.shape)

the onebracketter:
<class 'pandas.core.series.Series'> (10, 1)
the twobracketter:
<class 'pandas.core.frame.DataFrame'> (10, 1)

> *those cool names though huh? yeah of course i thought of that myself*

<br>

## * **loc** - label based slicing <br>

In [23]:

display(df.loc[:3,'column_2']) # .loc\['row','columns'] -> as series

0    0
1    2
2    4
3    6
Name: column_2, dtype: int64

In [24]:
display(df.loc[:3,['column_2']])  # .loc\[\['rows'],\['columns']] -> as dataframes

   column_2
0         0
1         2
2         4
3         6

## * **iloc** - index based slicing

In [25]:
display(df.iloc[:3, 1]) # as series

0    0
1    2
2    4
Name: column_2, dtype: int64

In [26]:
display(df.iloc[[0, 1, 2]]) #as dataframes

   column_1  column_2
0         0         0
1         1         2
2         2         4

---
### docs

Indexing and selecting data https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html <br>
loc https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.loc.html <br>
iloc https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.iloc.html